<nav class="navbar">
  <div class="navbar-logo">
    <p class="logo">
      <span class="primary-color">Expense </span>
      <span class="secondary-color">Tracker</span>
    </p>
  </div>
  <button class="menu-toggle" (click)="toggleMenu()">
    <span *ngIf="!isMenuOpen" class="material-icons">
      <img class="icon-img" src="../../assets/images/menu.png" alt="" />
    </span>
    <span *ngIf="isMenuOpen" class="material-icons">
      <img class="icon-img" src="../../assets/images/arrow.png" alt="" />
    </span>
  </button>
  <div class="navbar-links" [class.active]="isMenuOpen">
    <a href="#" class="nav-link">Home</a>
    <a href="#" class="nav-link">About</a>
    <!-- <button class="logout-btn logout-hidden-mobile">Logout</button> -->
  </div>
  <!-- <div class="navbar-actions" [class.active]="isMenuOpen">
    <button class="logout-btn logout-hidden-screen">Logout</button>
  </div> -->
</nav>
