/* Table Container */
.table-container {
  margin: 20px;
  overflow-x: auto;
  color: #003049;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.responsive-table th,
.responsive-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-transform: capitalize;
}

.responsive-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.responsive-table td {
  background-color: #ffffff;
}

.edit-btn {
  background-color: #555555;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #777;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.p-add-data {
  font-size: 24px;
  margin-top: 16px;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.chip {
  padding: 8px 16px;
  margin: 4px;
  background-color: #e0f7fa;
  border: 1px solid #b2ebf2;
  border-radius: 16px;
  font-size: 14px;

  font-weight: 500;
  color: #00796b;
  cursor: default;
  white-space: nowrap;
}

/* Responsive Design */
@media (max-width: 768px) {
  .responsive-table thead {
    display: none;
  }

  .responsive-table tbody tr {
    display: block;
    margin-bottom: 15px;
    text-align: left;
  }

  .responsive-table tbody td {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #00796b;
    text-align: left;
  }

  .responsive-table tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    flex: 0.4;
    text-align: left;
  }

  .chip {
    font-size: 12px;
    padding: 6px 12px;
  }
}
