/* You can add global styles to this file, and also import other style files */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom {
  color: #003049;
  /* text color */
  color: #d62828;
  color: #780000;
  color: #f77f00;
  color: #fcbf49;
  color: #eae2b7;
  color: #F9FAFB;
  /* bg color */
}

.custom-2 {
  color: #fbfbfe;
  /* background color */
  color: #2f27ce;
  /* color  primary*/
  color: #dedcff;
  /* color  secondary*/
}

.primary-color {
  color: #003049;
}

.secondary-color {
  color: #f77f00;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;

  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}